<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ titre }}</title>

    <link rel="stylesheet" href="static/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/dataTables.bootstrap4.min.css">

    <script src="static/js/jquery-3.5.1.js"></script>
    <script src="static/js/jquery.dataTables.min.js"></script>
    <script src="static/js/socket.io.js"></script>
    <script src="static/js/sdc.js"></script>
</head>

<body style="font-size: 3rem">
<button id="button"
        type="button">
    Sélection au hasard
</button>
<table id="students-table"  class="display nowrap" style="width:100%">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr id="{{ student.id }}">
        <td>{{ student.lastname }}</td>
        <td>{{ student.firstname }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
