<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ titre }}</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('confirm_connect', {data: 'I\'m connected!'});
            console.log("connected");
        });
        socket.on('select_student', function(msg) {
            console.log("Received select_student event :  id: "+msg.id+" selected:"+msg.selected);
            $("#"+msg.id).toggleClass("selected");
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#students-table').DataTable({
                paging: false,
                fixedHeader: {
                    header: false,
                    footer: false
                }
            });

            $('#students-table tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
                const id = $(this).attr('id');
                const selected = $(this).hasClass("selected");
                $.ajax({
                        url: '/api/student?id=' + id+"&selected="+selected,
                        success: function (data) {
                        }
                    });
                return false;
            });

            $('#button').click(function () {
                alert(table.rows('.selected').data().length + ' row(s) selected');
            });
        });
    </script>

</head>

<body>
<h1>{{ titre }}</h1>
<table id="students-table" class="display" style="width:100%">
    <thead>
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Id</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr id="{{ student.id }}">
        <td>{{ student.firstname }}</td>
        <td>{{ student.lastname }}</td>
        <td>{{ student.id }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
